@font-face
{
    font-family: pixelartFont;
    src: url(fonts/joystix_monospace.ttf)
}
@keyframes colorchanging
{
    from{color:white;}
    to{color: greenyellow;}
}
@keyframes buttonshine
{
    from{background-color: rgba(255, 255, 255, 0);}
    to{background-color: rgba(0, 255, 15, 0.2);}
}
body
{
    margin: 0;
    color: white;
    font-family: pixelartFont;
    background-image: url(images/background.png);
}
.menu
{
    height: fit-content;
    width: 100%;
    background-color: rgba(0, 255, 0, 0.1);
}
table
{
    width: 100%;
    align-items: center;
    justify-items: center;
}
th
{
    border-color: rgba(255, 255, 255, 0.1);
    border-style: double;
    font-size: 32px;
    font-size: 2vw;
}
th:hover
{
    background-color: rgba(0, 255, 0, 0.15);
    border-color: white;
    animation: buttonshine 1s infinite;
    animation-direction: alternate-reverse;
}
div.forms
{
    margin-left: 5%;
    width: 25vw;
    max-width: 480px;
}
form.register
{
    margin: 15px;
    padding: 10px;
    width: auto;
    border: double white;
}
form.log-in
{
    
    margin: 15px;
    padding: 10px;
    width: auto;
    border: double white;
}
h1.register
{
    animation: colorchanging 1s infinite;
    animation-direction: alternate-reverse;
    font-size: 1.5vw;
    text-align: center;
}
h1.log-in
{
    animation: colorchanging 1s infinite;
    animation-direction: alternate-reverse;
    font-size: 1.5vw;
    text-align: center;
}
input[type=submit]
{
    font-size: 12px;
    font-size: 0.9vw;
    width: auto;
    display: flex;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: pixelartFont;
}
input
{
    width: 50%;
    margin: 5px;
    padding: 5px;
}
container
{
    display: flex;
}
.textarea
{
    border: double white;
    margin-top: 15px;
    width: 80%;
    padding: 10px;
    margin-right: 5%;
}
p
{
    animation: colorchanging 1s infinite;
    animation-direction: alternate-reverse;
    text-align: center;
    font-weight: 700;
    font-size: 21px;
}
content
{
    font-size: 16px;
}
a
{
    text-decoration: none;
    color: white;
}
a:hover
{
    animation: colorchanging 1s infinite;
    animation-direction: alternate-reverse;
    cursor: pointer;
}
.footer
{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    font-size: 12px;
    font-size: 0.75vw;
    padding: 5px;

}
#cookies
{
    text-align: center;
    width: 100%;
    padding: 15px 10px;
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
}
.images
{
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}
.img
{
    padding-left: 4vw;
    padding-right: 4vw;
}
img:hover
{
    transform: scale(1.1);
}
